@import '../../themes/themes.scss';

.pagination{
    @include themed() {
        color: t($color);
        background-color: t($box);
    }
}

.page-link{
    @include themed() {
        color: t($color);
        background-color: t($pagination);
    }
    border-color: rgba(0, 0, 0, 0.418);
}

.page-link:hover{
    @include themed() {
        color: t($color);
        background-color: t($button-bg);
    }
    border-color: rgba(0, 0, 0, 0.418);
}

.page-link:active{
    @include themed() {
        color: t($color);
        background-color: t($button-bg);
    }
    border-color: rgba(0, 0, 0, 0.418);
}