@import '../themes/themes.scss';

$color: #fff;
$body-bg: #141414;
$box: #202020;
$search:#202020c5;
$pagination:#313131;
$overlay: rgba(0, 0, 0, 0.589);
$button-bg:#005DA0;
$button-bg-hover:#0078ce;

/*

$color: #000;
$body-bg: #eaf4fd;
$box: #ffffff;
$search:#202020c5;
$pagination:#313131;
$overlay: rgba(0, 0, 0, 0.589);
$button-bg:#005DA0;
$button-bg-hover:#0078ce;

*/