@import '../themes/themes.scss';


$color: #fff;
$body-bg: #141414;
$box: #202020;
$search:#202020c5;
$pagination:#313131;
$footer:#2c2c2c;
$overlay: rgba(0, 0, 0, 0.589);
$button-bg:#005DA0;
$button-bg-hover:#0078ce;


/*
$color: #000;
$body-bg: #eaf4fd;
$box: #f0f7fc;
$search:#d9ecfc;
$pagination:#d9ecfc;
$overlay: #d9ecfca8;
$button-bg:#82c7ff;
$button-bg-hover:#66baff;
*/

