@import '../../themes/themes.scss';

.list-group-profile {
    @include themed() {
        color: t($color);
        background-color: t($overlay-lighter);
    }
}

.profile-links {
    @include themed() {
        color: t($color);
    }
}

.profile-pic {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.delete-loved {
    cursor: pointer;
    color:#fff;
}

.delete-loved:hover {
    cursor: pointer;
    color:rgb(185, 42, 42);
}


.custom-file-label {
    @include themed() {
        color: t($color);
        background-color: t($overlay-lighter);
        border: 0px;
    }
}

.custom-file-label::after {
    @include themed() {
        color: t($color);
        background-color: t($overlay-lighter);
        border: 0px;
    }
}