.banner{
    background-size: 140% auto;
    background-position: 60% 50%;
    height: 200px;
    background-repeat: no-repeat;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    margin-bottom: 30px;
  }
  