@import '../../themes/themes.scss';

.banner-anime{
    width: 100%;
}

.button-ep {
    margin-bottom: 2px; 
    margin-top: 2px;
    width: 100%;
    @include themed() {
        color: t($color);
        background-color: t($button-bg);
    }
    border-color: rgba(255, 255, 255, 0);
}

.button-ep:hover {
    @include themed() {
        background-color: t($button-bg-hover);
    }
}

.button-ep:active {
    @include themed() {
        background-color: t($button-bg-hover);
    }
}

.series-pic {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
}

.series-desc {
    @include themed() {
        color: t($color);
    }
    text-align: left;
}

.series-title {
    @include themed() {
        color: t($color);
    }
    text-align: left;
    margin-top: 10px; 
}