@import '../../themes/themes.scss';

.banner-anime{
    width: 100%;
}

.button-ep {
    margin-bottom: 2px; 
    margin-top: 2px;
    width: 100%;
    @include themed() {
        color: t($color);
        background-color: t($button-bg);
    }
    border-color: rgba(255, 255, 255, 0);
}

.button-ep:hover {
    @include themed() {
        background-color: t($button-bg-hover);
    }
}

.button-ep:active:focus {
    @include themed() {
        background-color: t($button-bg-hover);
    }
    border-color: rgba(255, 255, 255, 0);
}

.series-pic {
    float: left;
    margin-bottom: 10px;
    height: 250px;
}

.series-desc {
    @include themed() {
        color: t($color);
    }
    margin-top: 10px;
}

.series-title {
    @include themed() {
        color: t($color);
    }
    text-align: left;
    margin-top: 10px; 
}

/* Active tab */
.streaming-tabs  > a,
.streaming-tabs  > a:hover,
.streaming-tabs  > a:focus {
    @include themed() {
        color: t($color);
    }
}

.streaming-tabs>a.active{
    @include themed() {
        color: t($button-bg-hover);
        background-color: rgba(0, 0, 0, 0);
        text-decoration: underline;
        border-color: rgba(0, 0, 0, 0.418);
    }
}

.list-group-details {
    @include themed() {
        color: t($color);
        background-color: t($overlay-lighter);
        text-align: left;
    }
}

.hidden{
    display: none;
}