@import '../../globals/variables.scss';

.banner-anime{
    width: 100%;
}

.button-ep {
    margin-bottom: 2px; 
    margin-top: 2px;
    width: 100%;
    color: $color;
    background-color: $button-bg;
    border-color: rgba(255, 255, 255, 0);
}

.button-ep:hover {
    background-color: $button-bg-hover;
}

.button-ep:active {
    background-color: $button-bg-hover;
}

.series-pic {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
}

.series-desc {
    color: $color;
    text-align: left;
}

.series-title {
    color: $color;
    text-align: left;
    margin-top: 10px; 
}