$color--dark: #fff;
$body-bg--dark: #141414;
$box--dark: #1b1b1b;
$overlay--dark: rgba(0, 0, 0, 0.589);
$button-bg--dark:#005da0;
$button-bg-hover--dark:#0078ce;

$color--light: #000;
$body-bg--light: #ffffff;
$box--light: #8CD9F4;
$overlay--light: #8cd8f47c;
$button-bg--light:#005da0;
$button-bg-hover--light:#0078ce;