$color: 'color';
$body-bg: 'body-bg';
$box: 'box';
$search:'search';
$pagination:'pagination';
$footer:'footer';
$overlay: 'overlay';
$overlay-lighter: 'overlay-lighter';
$button-bg:'button-bg';
$button-bg-hover:'button-bg-hover';
$loader: 'loader';
$box-shadow: 'box-shadow';

$color--dark: #fff;
$body-bg--dark: #0A1621;
$box--dark: #142231;
$search--dark:#142231;
$pagination--dark:#0f1924;
$footer--dark:#2c2c2c;
$overlay--dark: rgba(0, 0, 0, 0.589);
$overlay-lighter--dark: #1a2d3f;
$button-bg--dark:rgb(0, 122, 209);
$button-bg-hover--dark: #26afe6;
$loader--dark: #f8f9fa!important;
$box-shadow--dark: inset 5px -40px 38px -28px #000;

$color--light: #000;
$body-bg--light: #eaf4fd;
$box--light: #f0f7fc;
$search--light:#d9ecfc;
$pagination--light:#d9ecfc;
$overlay--light: #d9ecfca8;
$overlay-lighter--light: #e7f2ff;
$button-bg--light:#82c7ff;
$button-bg-hover--light:#66baff;
$loader--light: #343a40!important;
$box-shadow--light: inset 5px -40px 38px -28px #eaf4fd;

/*
$color--amoled: #fff;
$body-bg--amoled: #000000;
$box--amoled: #0f0f0f;
$search--amoled:#0f0f0f;
$pagination--amoled:#292929;
$footer--amoled:#2c2c2c;
$overlay--amoled: rgba(0, 0, 0, 0.589);
$button-bg--amoled:#2c2c2c;
$button-bg-hover--amoled:#3f3f3f;
$loader--amoled: #f8f9fa!important;
*/