@import './_color-themes.scss';

$themes: (
    dark: (
        body-bg: $body-bg--dark,
        overlay: $overlay--dark,
        color: $color--dark,
        text: $color--dark,
        box: $box--dark,
        search: $search--dark,
        pagination: $pagination--dark,
        button-bg: $button-bg--dark,
        button-bg-hover: $button-bg-hover--dark
    ),
    light: (
        body-bg: $body-bg--light,
        overlay: $overlay--light,
        color: $color--light,
        text: $color--light,
        box: $box--light,
        search: $search--light,
        pagination: $pagination--light,
        button-bg: $button-bg--light,
        button-bg-hover: $button-bg-hover--light
    ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}