@import './_color-themes.scss';

$themes: (
    dark: (
        body-bg: $body-bg--dark,
        overlay: $overlay--dark,
        overlay-lighter: $overlay-lighter--dark,
        color: $color--dark,
        text: $color--dark,
        box: $box--dark,
        search: $search--dark,
        pagination: $pagination--dark,
        button-bg: $button-bg--dark,
        button-bg-hover: $button-bg-hover--dark,
        loader: $loader--dark,
        box-shadow:$box-shadow--dark,
    ),
    light: (
        body-bg: $body-bg--light,
        overlay: $overlay--light,
        overlay-lighter: $overlay-lighter--light,
        color: $color--light,
        text: $color--light,
        box: $box--light,
        search: $search--light,
        pagination: $pagination--light,
        button-bg: $button-bg--light,
        button-bg-hover: $button-bg-hover--light,
        loader: $loader--light,
        box-shadow:$box-shadow--light,
    ),
  /*
    amoled: (
      body-bg: $body-bg--amoled,
      overlay: $overlay--amoled,
      color: $color--amoled,
      text: $color--amoled,
      box: $box--amoled,
      search: $search--amoled,
      pagination: $pagination--amoled,
      button-bg: $button-bg--amoled,
      button-bg-hover: $button-bg-hover--amoled,
      loader: $loader--amoled
  ),
  */
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}