@import '../../themes/themes.scss';

.search-container{
    @include themed() {
        color: t($color);
    }
    padding-bottom: 25px;
}

.results{
    @include themed() {
        background-color: t($search);
    }
    width: 100%;
}

.results-wrapper{
    @include themed() {
        color: t($color);
    }
}

.search-link:hover{
    color: rgb(111, 135, 240);
    text-decoration: none;
}

.search-input{
    @include themed() {
        color: t($color);
        background-color: t($search);
    }
    height: 3.5rem;
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
    border-color: rgba(178, 111, 240, 0);
}

.search-input:focus{
    outline: none;
}

@media screen and (max-width: 500px) /* Mobile */ {
    .results{
        width: 100%;
    }    
    .search-container{
        width: 100%;
    }
    .search-input{
        width: 100%;
    }
}