@import '../../globals/variables.scss';

.search-container{
    color: $color;
    padding-bottom: 25px;
}

.results{
    background-color: $search;
    width: 100%;
    z-index: 50;
}

.results-wrapper{
    color: #fff
}

.searchLink:hover{
    color: rgb(178, 111, 240);
    text-decoration: none;
}

.search-input{
    background-color: $search;
    height: 3.5rem;
    width: 100%;
    color: $color;
    font-size: 1.25rem;
    text-align: center;
    border-color: rgba(178, 111, 240, 0);
}

.search-input:focus{
    outline: none;
}

@media screen and (max-width: 500px) /* Mobile */ {
    .results{
        width: 100%;
    }    
    .search-container{
        width: 100%;
    }
    .search-input{
        width: 100%;
    }
}

.spacer-left {
    padding-left: 8px;
    padding-bottom: 2px;
    padding-top: 2px;
}