@import '../../themes/themes.scss';

.home-navbar {
    @include themed() {
        color: t($color);
        background-color: t($search);
    }
}

.typo-normal{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}