.App {
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-link {
  color: #61dafb;
}

.banner{
  background-image: url('./assets/andromeda.jpg');
  background-size: 140% auto;
  background-position: 60% 50%;
  height: 200px;
  background-repeat: no-repeat;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  margin-bottom: 30px;
}

