@import './globals/variables.scss';

.App {
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spacer {
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.anime-container{
  background-color: $box;
}

.footer {
  color: $color;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  background-color: $box;
}

.footer-mobile {
  color: $color;
  bottom: 0;
  width: 100%;
  height: 120px;
  line-height: 60px; 
  background-color: $box;
}