@import '../../themes/themes.scss';

.caption {
    @include themed() {
        color: t($color);
        background-color: t($overlay);
    }
    bottom: 24px;
    padding: 5px 3px 5px 3px;
    width: 100%;
    position: absolute;
    z-index: 50;
    min-height: 57px;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.flyer-container{
    position: relative;
    text-align: center;
}

.flyer {
    object-fit: cover;
    height:230px;   
    bottom: 0;
    border-radius: 0.5em;
}

.flyer-spacer{
    margin-top: 20px;
}
@media screen and (min-width: 800px) and (max-width: 1200px){
    .flyer {
        object-fit: cover;
        height:200px;   
        bottom: 0;
    }
  }

@media screen and (min-width: 400px) and (max-width: 700px){
    .flyer {
        object-fit: cover;
        height:280px;   
        bottom: 0;
    }
  }


.badge-ep {
    position: absolute;
    top: 5px;
    right: 5px;
}

.badge-love {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1em;
}

.badge-premiere {
    position: absolute;
    top: 5px;
    left: 5px;
}

// .caption-top {
//     @include themed() {
//         color: t($color);
//         background-color: t($overlay);
//     }
//     top: 0px;
//     padding: 5px 3px 5px 3px;
//     width: 100%;
//     position: absolute;
//     z-index: 50;
//     min-height: 20px;
//     border-top-left-radius: 0.5em;
//     border-top-right-radius: 0.5em;
// }
