@import '../../themes/themes.scss';

.caption {
    @include themed() {
        color: t($color);
        background-color: t($overlay);
    }
    bottom: 24px;
    padding: 5px 3px 5px 3px;
    width: 100%;
    position: absolute;
    z-index: 50;
    min-height: 57px;
}

.flyer-container{
    position: relative;
    text-align: center;
}

.flyer {
    object-fit: cover;
    height:230px;   
    bottom: 0;
}

.flyer-spacer{
    margin-top: 20px;
}
@media screen and (min-width: 800px) and (max-width: 1200px){
    .flyer {
        object-fit: cover;
        height:200px;   
        bottom: 0;
    }
  }

@media screen and (min-width: 400px) and (max-width: 700px){
    .flyer {
        object-fit: cover;
        height:280px;   
        bottom: 0;
    }
  }
